.layout-container {
  background-color: #f2f2f2;
  min-height: 100vh;
}

.logo {
  width: 100%;
  height: 64px;
}

.ulLeft {
  float: left;
  list-style: none;
  display: flex;
  align-items: center;
}

.ulRight {
  float: right;
  list-style: none;
  display: flex;
  align-items: center;
}

.tituloMenu {
  font-size: 18px;
  color: #ffffff;
  font-weight: bold;
}

.nameMenu {
  /* float: right; */
  font-size: 18px;
  color: #ffffff;
  padding-right: 10px;
  /* font-weight: bold; */
}

.menuToggle {
  color: #ffffff;
  font-size: 18px;
  padding-right: 20px;
}

.text-button h1 {
  margin: 10px;
  color: #ffffff;
}

.text-button .btnClose {
  width: 100%;
  /* margin-bottom: 10px; */
}

.site-layout .site-layout-background {
  background: #ffffff;
}

.header-one {
  padding: 0;
}

.header-two {
  padding: 24px;
  min-height: 360px;
}

.breadcumb-container {
  margin: 16px 0;
}

.content-container {
  margin: 0 16px;
}

.footer-container {
  text-align: center;
  background-color: #ffffff;
}

@media (max-width: 550px) {
  .tituloMenu {
    font-size: 0px;
  }
}

@media (max-width: 500px) {
  .nameMenu {
    font-size: 16px;
  }
}

@media (max-width: 400px) {
  .nameMenu {
    font-size: 0px;
  }
}
