.banner_container {
  background-color: #f8f9fe;
  border-radius: 1rem;
  min-height: 200px;
}

.banner_container .banner_card {
  /* background-color: palegoldenrod; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 20px;
}

.banner_container .banner_card:nth-child(2) {
  /* background-color: #1890ff; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner_container span {
  color: #1890ff;
  font-weight: bold;
}

.banner_container p {
  font-size: 1rem;
}

.banner_container p:nth-child(2) {
  color: #8898aa;
}

.container-image {
  width: 100%;
  max-width: 250px;
}

.banner_container .image {
  width: 100%;
}

.cards_container {
  margin-top: 20px;
}

.cards_container .card_progress {
  background-color: #f8f9fe;
  border-radius: 1rem;
  width: 300px;
  height: 400px;
}

/* @media (max-width: 810px) {
  .banner_container {
    height: 450px;
  }

  .banner_container .banner_card {
    padding: 0 24px;
    width: 100%;
  }
} */
